.coin_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  padding: 10px;
  border-radius: 12px;
  border: 3px solid transparent;
  transition: 0.4s;
}

.coin_container:hover {
  border-color: #000;
}

.coin_name {
  display: flex;
  gap: 10px;
  align-items: center;
}

.image {
  width: 40px;
  height: 40px;
}

.price,
.market_cap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.italic {
  font-size: 13px;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .market_cap {
    display: none;
  }
}
