.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container li:nth-child(even) {
  background: #36558e;
}

li {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  font-size: 20px;
  padding: 10px;
}
