.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

button {
  width: 70px;
  height: 40px;
  border: 4px solid #263038;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 15px;
  background: #263038;
  color: #fff;
}

button:hover {
  background: #28293a;
}

.main_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.price_info {
  border-radius: 12px;
  border: 4px solid #262f38;
}

.price_info li {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  font-size: 20px;
  padding: 10px;
}

.price_info li:nth-child(even) {
  background: #262f38;
}

.description {
  margin: 20px 0;
  width: 80vw;
  padding: 10px 5px;
  letter-spacing: 2px;
  line-height: 20px;
  text-align: center;
}
