.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.list_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.list_container a:nth-child(even) {
  background: #36558e;
}
