.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.container p {
  margin-top: 2px;
  font-size: 12px;
  font-style: italic;
}

.search_input {
  background-color: #282a3a;
  max-width: 250px;
  font-size: 18px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border: 3px solid #735f32;
  outline: none;
  border-radius: 12px;
}

.search_input:focus {
  color: #c69749;
  outline-color: #c69749;
  box-shadow: 0 0 10px #c69749;
  transition: 0.4s;
  transition-property: box-shadow;
}
