@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  background: #282a3a;
  color: #fff;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #282a3a;
}

::-webkit-scrollbar-thumb {
  background: #735f32;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c69749;
}
